//- .container.well   
  FOOTER
  footer
    p.pull-right
      a(href="#") Back to top
    p &copy; 2012, 2013 VenFu 
      a(href="#", style="margin-left: 2%;") Privacy &middot; 
      a(href="#") Terms

//- Le javascript                
  Placed at the end of the document so the pages load faster


// jQuery
script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
  
// Latest compiled and minified JavaScript 
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js")

//- Bootstrap JS
  script(src="/javascripts/bootstrap.min.js")

// Toggle Nav Menu
script.
  $(document).ready(function(){
  
    $("#hideNav").click(function(){
      $("#navContent").hide(200);
      var audio = $("#star")[0];
      audio.play();
    });
    
    $("#navMenu").click(function(){
      $("#navContent").show(200);
      var audio = $("#star")[0];
      audio.play();
    });
    
  });
    
// Start carousel cycle, set carousel height, carousel-control heights, .hello height, center .bigSearch, and place .know
script.
  $(document).ready(function(){
    $("#foodPorn").carousel('cycle');
    var carouselHeight = 0.75 * window.innerHeight;
    var helloHeight = 0.15 * window.innerHeight;
    $(".item").attr({        
      style: "height: " + carouselHeight + "px"
    });
    
    $(".left-carousel-control").attr({
      style: "top: " + (0.5 * carouselHeight - 41) + "px"
    });
    
    $(".right-carousel-control").attr({
      style: "top: " + (0.5 * carouselHeight - 41) + "px"
    });
    
    $(".hello").attr({
      style: "height: " + helloHeight + "px"
    });
    
    var rowHeight = $(".bigSearch").parent().parent().height();
    $(".bigSearch").attr({
      style: "margin-top: " + (0.5 * rowHeight - 20) + "px"
    });
    
    $(".know").attr({
      style: "margin-top: " + (rowHeight - 20) + "px"
    });
    
  });
  