doctype 5
html
  head
    title= title
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    <meta name="description" content="">
    <meta name="author" content="">
    // Latest compiled and minified CSS 
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css")
    // Font Awesome icons
    link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="public/javascripts/aFarkas-html5shiv-67bff28/dist/html5shiv.js"></script>
    <![endif]-->
    
    
    
  body
  
    
    #navMenu
      img(src="images/throwing-star.png")
    // #navMenu.foldtl
    // #menu.rotate menu
    
    // Ninja Star Sound
    audio#star
      source(src="audio/star.mp3")


    
    #navContent
    
      // SEARCH BAR
      input.form-control.col-lg-3(type="text", placeholder="Search")

      hr(style="color: white;")
      
      // SIGN UP/IN + HOME
      ul.nav.pull-left
        
        // Determine if User is logged in and render appropriate content
        // typeof(user) == undefined
        if !loggedIn
          li
            a(href="#loginModal", id="login", data-toggle="modal")
              icon.icon-meh  Not signed in
            
          li
            a(href="#loginModal", id="login", data-toggle="modal")
              icon.icon-lock  Sign in
        else 
          li
            a(href="/settings")
              icon.icon-user  !{user.username}
          
          li
            a(href="/logout", id="logout")
              icon.icon-unlock  Log Out
        
        li
          a(href="/")
            icon.icon-home  Home
        
      ul.nav.pull-left
        li
          a(href="/customers")
            icon.icon-food  Customers
        li
          a(href="/vendors")
            icon.icon-coffee  Vendors
        li
          a(href="/delivery")  
            icon.icon-truck  Delivery
        
      ul.nav.pull-left
        li
          a(href="/about")  
            icon.icon-info-sign  About Us
        li
          a(href="/suggestions")
            icon.icon-edit  Suggestions
        li
          a(href="/customerService")  
            icon.icon-exclamation-sign   Problems?
      
      #hideNav
        //i.icon-remove-sign.icon-2x
        img(src="images/throwing-star.png")
 
    // Modals
    #registerModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
              button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
              h3 Join us
          .modal-body
            form.form-horizontal(id="myForm", method="post", action="/register")
              .form-group
                label.col-lg-2.control-label(for="email") Email
                .col-lg-10
                  input.form-control(type="text", id="email", name="email", placeholder="Email")
              .form-group
                label.col-lg-2.control-label(for="username") Username
                .col-lg-10
                  input.form-control(type="text", id="username", name="username", placeholder="Username")
              .form-group
                label.col-lg-2.control-label(for="password") Password
                .col-lg-10
                  input.form-control(type="password", id="password", name="password",placeholder="Password")
              .form-group
                label.col-lg-2.control-label(for="confirmPassword") Confirm
                .col-lg-10
                  input.form-control(type="password", id="confirmPassword", placeholder="Confirm Password")              
              .form-group.form-inline
                .col-lg-4
                  // NEEDS TOOL TIP !!!!!!!!!
                  strong(style="text-align: center") How will you VenFu?
                .col-lg-8
                  .checkbox
                    label Consume-Fu
                      input(id="chooseCustomer", name="classification", type="checkbox", value="C")
                  .checkbox
                    label Vendor-Fu
                      input(id="chooseVendor", name="classification", type="checkbox", value="V")
                  .checkbox
                    label Deliver-Fu
                      input(id="chooseDelivery", name="classification", type="checkbox", value="D") 
              .modal-footer
                button.btn.btn-primary.pull-left(id='myFormSubmit', type="submit")
                  icon.icon-lock  Sign Up
                button.btn.btn-default.pull-right(data-dismiss="modal")
                  icon.icon-remove  Cancel
        
    #loginModal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
            h3 Please sign in
              a.btn.btn-success.pull-right(style="margin-right: 50px", href="#registerModal", id="register", data-toggle="modal", data-dismiss="modal")
                icon.icon-plus  Join us
          .modal-body
            form.form-horizontal(id="myForm", action="/login", method="post")      
              .form-group
                label.col-lg-2.control-label(for="username") Username
                .col-lg-10
                  input.form-control(type="text", id="username", name="username", placeholder="Username")
              .form-group
                label.col-lg-2.control-label(for="password") Password
                .col-lg-10
                  input.form-control(type="password", id="password", name="password", placeholder="Password")
              .form-group 
                .col-lg-4
                  button.btn.btn-primary.col-lg-12(id='myFormSubmit', type="submit")
                    icon.icon-lock  Sign in
                .col-lg-4
                  .checkbox(style="margin-right: 5px;")
                    label Remember me
                      input(type="checkbox", name="classification")
                .col-lg-4
                  a.btn.btn-link(href="#") Forgot your password?
              .modal-footer
                h5.pull-left Or sign in with
                .col-lg-12.social
                  a(href="#", title="Facebook")
                    icon.icon-facebook-sign.icon-4x
                  a(href="#", title="Twitter")
                    icon.icon-twitter-sign.icon-4x
                  a(href="#", title="Google+")
                    icon.icon-google-plus-sign.icon-4x
                  a(href="#", title="Pinterest")
                    icon.icon-pinterest-sign.icon-4x
                  a(href="#", title="Instagram")
                    icon.icon-instagram.icon-4x
                  a(href="#", title="Tumblr")
                    icon.icon-tumblr-sign.icon-4x
            


  //- NAVBAR 
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href="/") VenFu
                ul.nav
                    li.dropdown
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
                            strong.caret
                        ul.dropdown-menu
                            li.nav-header You are a
                            li
                                a(href="/customers") Customer
                            li
                                a(href="/vendors") Vendor
                            li
                                a(href="/delivery") Delivery Person
                            li.divider
                            li.nav-header Other Stuff...
                            li
                                a(href="#") About Us
                            li
                                a(href="/suggestions") Suggestions
                            li
                                a(href="/customerService") Problems?
                    li.divider-vertical
                    // SEARCH BAR
                    form.navbar-search(action="")
                        input.search-query.span6(type="text", placeholder="Search")
                 
                // SIGN UP/IN will collapse
                div.nav-collapse.collapse
                    ul.nav.pull-right
                        li 
                            a(href="#") Sign Up
                        li.divider-vertical
                        li.dropdown
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown") Sign In 
                                strong.caret
                            div.dropdown-menu(style="padding: 15px; padding-bottom: 0px;")
                                form.form-signin
                                    h2.form-signin-heading Please sign in
                                    input.input-block-level(type="text", name="username", placeholder="ID")
                                    input.input-block-level(type="password", name="password", placeholder="Password")
                                    label.checkbox Remember me
                                        input(type="checkbox", value="remember-me") 
                                    button.btn.btn-large.btn-primary(type="submit") Sign in
                                    hr
