extends layout

block content

  // PAGE-SPECIFIC JS. AT THE TOP FOR SMOOTHER LOADING
  // Start carousel cycle, set carousel height, .hello height, center .bigSearch
  script.
    //$(document).ready(function(){
    $(function() {
      
      var 
        carouselHeight = 1.0 * window.innerHeight;
        // helloHeight = 0.17 * window.innerHeight;
        
      $("#foodPorn").carousel('cycle');
      
      $(".item").css("height", carouselHeight + "px");
      //$(".hello").css("height", helloHeight + "px");
      // $(".bigSearch").css("margin-top", (0.5 * helloHeight - 25) + "px");

    }); 
      
  section
    // Carousel
    #foodPorn.carousel.slide(data-interval="3000")
      // Wrapper for the Slides
      .carousel-inner
        // Make this a tutorial that points out the nav menu?
        a.item.active(href="#")
          img.img-responsive(src="images/shaolin-meditate.jpg", alt="")
          .carousel-caption
            h3 Welcome to VenFu
              span.pull-right.st_sharethis_large(displayText='ShareThis')
            p May you find culinary enlightenment
        // a.item(href="#")
        //   img(src="images/brownie.jpg", alt="")
        //   .carousel-caption
        //     h3 Brownies!!!
        //       span.pull-right.st_sharethis_large(displayText='ShareThis')
        //     p Yeah. This really is food porn.
            
        // a.item(href="#")
        //   img(src="images/pork_and_corn.jpg", alt="")
        //   .carousel-caption
        //     h3 Pork + Corn
        //       span.pull-right.st_sharethis_large(displayText='ShareThis')
        //     p Equals pure bliss. Come on! It's from the legendary Guy Fieri!
        
        mixin products(products)
          - each product in products
            a.item(href="/product:"+product._id)
              img(src="productImages/" + product._id + "." + product.format, alt=product.description)
              .carousel-caption
                h3 !{product.name}
                  span.pull-right.st_sharethis_large(displayText='ShareThis')
                p !{product.caption}
        
        +products(products)
            
      // Controls    
      .carousel-controls
        .btn-group.pull-right
          a.btn.btn-lg(href="#foodPorn", data-slide="prev")
            i.fa.fa-caret-left
          a.btn.btn-lg(href="#foodPorn", data-slide="next")
            i.fa.fa-caret-right
   
  //section
    //.hello
      // Simple layout
      //.div  
        //.col-xs-12.col-md-3.col-md-offset-1
          //p.title Search VenFu
          //.input-group
            //input.form-control(type="text", placeholder="What do you desire?")
            //span.input-group-btn
              //button.btn.btn-default(type="button")
                //i.fa.fa-search
          //.know
            //a(href="about") Do you know VenFu?
        //.col-xs-12.col-md-2.col-md-offset-4
          //.col-xs-12
            //.btnSellFu
              //a.btn.btn-lg.btn-block.btn-default(href="/about#vendors") 
                //span Sell-Fu
            //.btnDeliverFu
              //a.btn.btn-lg.btn-block.btn-default(href="/about#delivery")
                //span Deliver-Fu
          
  // Auto-resize
  script.
    $(window).resize(function(){
    
      var 
        carouselHeight = 0.75 * window.innerHeight;
        helloHeight = 0.275 * window.innerHeight;
        
      $(".item").css("height", carouselHeight + "px");
      
      $(".hello").css("height", helloHeight + "px");
      
      // var 
      //   bigSearch = $(".bigSearch");
      //   rowHeight = bigSearch.parent().parent().height();
          
      // bigSearch.css("margin-top", (0.5 * rowHeight - 20) + "px");
      // .attr({
      //   style: "margin-top: " + (0.5 * rowHeight - 20) + "px"
      // }); 
      
    });
