extends layout

block content
  // Carousel
  #foodPorn.carousel.slide
    // Wrapper for the Slides
    .carousel-inner
      a.item.active(href="#")
        img.img-responsive(src="images/beef.jpg", alt="")
        //-.carousel-caption
          h2 Tangerine Beef
          p.lead We dare you to try to resist this succulent treat served up by Chef Samantha. We double dare you.
          a.btn.btn-success.pull-right(href="#") More
      a.item(href="#")
        img(src="images/brownie.jpg", alt="")
        //-.carousel-caption
          h2 Brownies!!!
          p.lead Yeah. This really <em>is</em> food porn.
          a.btn.btn-info.pull-right(href="#") More
      a.item(href="#")
        img(src="images/pork_and_corn.jpg", alt="")
        //-.carousel-caption
          h2 Pork + Corn
          p.lead Equals pure bliss. Come on! It's from the legendary Guy Fieri!
          a.btn.btn-warning.pull-right(href="#") More
          
    // Controls        
    a.left.carousel-control(href="#foodPorn", data-slide="prev", style="background: none;")
      span.left-carousel-control.icon-angle-left.icon-4x
    a.right.carousel-control(href="#foodPorn", data-slide="next", style="background: none;")
      span.right-carousel-control.icon-angle-right.icon-4x
  
  // Simple layout
  .container
    .row.hello
      .col-12.col-lg-2
        h1 VenFu
      // SEARCH BAR
      .col-12.col-lg-5
        input.form-control(id="bigSearch", type="text", placeholder="Search", style="width: 100%; margin-top: 20px;")
      .col-12.col-lg-4.pull-right(style="")
        h2 
          a(href="/about", style="color: #DDD") Do you know VenFu?
  
//- Giant Buttons and featurettes
  .container.marketing
    // Three columns below the carousel 
    .row
      a.btn.btn-success.col-6.col-lg-4(href="#1")
          h2 How to VenFu?     
      a.btn.btn-info.col-6.col-lg-4(href="#2")
        h2 Become a Vendor!	
      a.btn.btn-warning.col-6.col-lg-4(href="#3")
        h2 Deliver VenFu!
        
      // START THE FEATURETTES
      
    hr#1.featurette-divider
      
    .featurette.well
      img(class="featurette-image pull-right", src="images/bush.jpg")
      h2.featurette-heading How to VenFu? -<br>
        span.muted You be the decider.
      p.lead With VenFu, you have serious options. You can find a vendor, order food now, and either pick it up or have it delivered--just like you'd expect... Or you can schedule an order now and get it later, when and where it's convenient for you.
      a.btn.btn-primary(href="/customers", type="button") More 
      a.btn.btn-default(href="#", type="button") Back
        
    hr#2.featurette-divider
    
    .featurette.well
      img(class="featurette-image pull-left", src="images/south_park_chef.gif")
      h2.featurette-heading Become a Vendor -<br> 
        span.muted Spread Love.
      p.lead As a VenFu vendor, you have the ability to focus on what you love, which is making food. VenFu is a tool that gives vendors easy access to customers, delivery, and all the other so-called "management" stuff that doesn't have anything to do with the art of making delicious food.
      a.btn.btn-primary.pull-right(href="/vendors", type="button") More 
      a.btn.btn-default.pull-right(href="#", type="button") Back
        
    hr#3.featurette-divider
     
    .featurette.well
      img(class="featurette-image pull-right", src="images/delivery.jpg")
      h2.featurette-heading Deliver VenFu -<br>
        span.muted Kinda like Santa.
      p.lead Whether you are a part-time student, a professional courier, or just plain entrepreneurial, we can use your help! Click the button and join our delivery team!
      a.btn.btn-primary(href="/delivery", type="button") More 
      a.btn.btn-default(href="#", type="button") Back

    // hr.featurette-divider

