extends layout

block content
	.content
		// Carousel
		div#myCarousel.carousel.slide
			div.carousel-inner
				
	
				div.item.active
					img(src="images/beef.jpg", alt="")
					div.container
						div.carousel-caption
							h1 Tangerine Beef
							p.lead We dare you to try to resist this succulent treat served up by Chef Samantha. We double dare you.
								a(class="btn btn-large btn-success", href="#") More
	
				div.item
					img(src="images/brownie.jpg", alt="")
					div.container
						div.carousel-caption
							h1 Brownies!!!
							p.lead Yeah. This really <em>is</em> food porn.
							a(class="btn btn-large btn-info", href="#") More
							
				div.item
					img(src="images/pork_and_corn.jpg", alt="")
					div.container
						div.carousel-caption
							h1 Pork + Corn
							p.lead Equals pure bliss. Come on! It's from the legendary Guy Fieri!
							a(class="btn btn-large btn-warning", href="#") More
	
			a(class="left carousel-control", href="#myCarousel", data-slide="prev") &lsaquo;
			a(class="right carousel-control", href="#myCarousel", data-slide="next") &rsaquo;

		// Giant Buttons and featurettes
		.container.marketing
			// Three columns below the carousel 
			.row-fluid
				a.btn.btn-success.span4(href="#1")
					h2 How to VenFu?

				a.btn.btn-info.span4(href="#2")
					h2 Become a Vendor!	

				a.btn.btn-warning.span4(href="#3")
					h2 Deliver VenFu!
        
		// Marketing messaging and featurettes
		// Wrap the rest of the page in another container to center all the content.	
		div.container.marketing
			// Three columns of text below the carousel
			div.row-fluid
				
	
			// START THE FEATURETTES
	
			hr#1.featurette-divider
	
			div.featurette
				img(class="featurette-image pull-right", src="images/bush.jpg")
				h2.featurette-heading How to VenFu? -
					span.muted You be the decider.
				p.lead With VenFu, you have serious options. You can find a vendor, order food now, and either pick it up or have it delivered--just like you'd expect... Or you can schedule an order now and get it later, when and where it's convenient for you.
				a(class="btn btn-large btn-primary", href="/customers", type="button") See a Menu
	
			hr#2.featurette-divider
	
			div.featurette
				img(class="featurette-image pull-left", src="images/south_park_chef.gif")
				h2.featurette-heading Become a Vendor - 
					span.muted Spread Love.
				p.lead As a VenFu vendor, you have the ability to focus on what you love, which is making food. VenFu is a tool that gives vendors easy access to customers, delivery, and all the other so-called "management" stuff that doesn't have anything to do with the art of making delicious foods.
				a(class="btn btn-large btn-primary pull-right", href="vendors", type="button") Become a Vendor
	
			hr#3.featurette-divider
	
			div.featurette
				img(class="featurette-image pull-right", src="images/delivery.jpg")
				h2.featurette-heading Deliver VenFu - 
					span.muted Kinda like Santa.
				p.lead Whether you are a part-time student, a professional courier, or just plain entrepreneurial, we can use your help! Click the button and join our delivery team!
				a(class="btn btn-large btn-primary", href="/delivery", type="button") Deliver VenFu
	
			hr.featurette-divider

