doctype 5
html
  head
    title= title
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="public/javascripts/aFarkas-html5shiv-67bff28/dist/html5shiv.js"></script>
    <![endif]-->
    
  body
    
    // NAVBAR
    
    div.navbar.navbar-fixed-top
        div.navbar-inner
            div.container-fluid
                button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href="/") VenFu
                div.nav-collapse.collapse
                    form.navbar-search.pull-left(action="")
                        input.search-query.span4(type="text", placeholder="Search")
                    ul.nav
                        li.divider-vertical
                        li.active
                            a(href="/") Home
                        li
                            a(href="#") About Us
                        li.dropdown
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown") Quick Nav
                                strong.caret
                            ul.dropdown-menu
                                li.nav-header You are a
                                <li><a href="#">Customer</a></li>
                                <li><a href="#">Vendor</a></li>
                                <li><a href="#">Delivery Person</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Other Stuff...</li>
                                <li><a href="#">Suggestions</a></li>
                                <li><a href="#">Problems?</a></li>
                            </ul>
                        </li>
                    </ul>
                 
                // SIGN UP/IN

                ul.nav.pull-right
                    li 
                        a(href="#") Sign Up
                    li.divider-vertical
                    li.dropdown
                        a(href="#", class="dropdown-toggle", data-toggle="dropdown") Sign In 
                            strong.caret
                        div.dropdown-menu (style="padding: 15px; padding-bottom: 0px;")
                        form.form-signin
                            h2.form-signin-heading 
                                Please sign in
                            input.input-block-level (type="text", placeholder="ID")
                            input.input-block-level (type="password", placeholder="Password")
                            label.checkbox
                                input (type="checkbox", value="remember-me") 
                                    Remember me
                            button.btn.btn-large.btn-primary(type="submit") Sign in
    
    
    block content
        
        // FOOTER
        footer
            p.pull-right
                a(href="#") Back to top
            p 
                &copy; 2013 VenFu a(href="#", style="margin-left: 2%;") Privacy &middot; a(href="#") Terms
    
        // Le javascript                
        // Placed at the end of the document so the pages load faster
        
        script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")    
        script(src="public/javascripts/bootstrap.min.js")
        
        script(src="public/javascripts/carousel.js")
    
    