
extends layout

block content
  .container
    .row-fluid
      h2 Register
      form(action="/register", method="post")
      
        div
          label Your Email:
            input(type="text", name="email")
      
        div
          label Choose a Username:
            input(type="text", name="username")
            
        div
          label Choose a Password:
            input(type="password", name="password")
    
        div
          label Confirm Password:
            input(type="password", name="confirmPassword")
    
        div
          input(type="submit", value="Sign Up")
