    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      /* background: #FFF url('/images/squairy_light.png') repeat fixed center; */
      
      /* background-color: #E7EBF0;
      background-image: 
      radial-gradient(circle at 100% 150%, #E7EBF0 24%, white 25%, white 28%, #E7EBF0 29%, #E7EBF0 36%, white 36%, white 40%, transparent 40%, transparent),
      radial-gradient(circle at 0    150%, #E7EBF0 24%, white 25%, white 28%, #E7EBF0 29%, #E7EBF0 36%, white 36%, white 40%, transparent 40%, transparent),
      radial-gradient(circle at 50%  100%, white 10%, #E7EBF0 11%, #E7EBF0 23%, white 24%, white 30%, #E7EBF0 31%, #E7EBF0 43%, white 44%, white 50%, #E7EBF0 51%, #E7EBF0 63%, white 64%, white 71%, transparent 71%, transparent),
      radial-gradient(circle at 100% 50%, white 5%, #E7EBF0 6%, #E7EBF0 15%, white 16%, white 20%, #E7EBF0 21%, #E7EBF0 30%, white 31%, white 35%, #E7EBF0 36%, #E7EBF0 45%, white 46%, white 49%, transparent 50%, transparent),
      radial-gradient(circle at 0    50%, white 5%, #E7EBF0 6%, #E7EBF0 15%, white 16%, white 20%, #E7EBF0 21%, #E7EBF0 30%, white 31%, white 35%, #E7EBF0 36%, #E7EBF0 45%, white 46%, white 49%, transparent 50%, transparent);
      background-size:100px 50px; */
      
      background-color: #333;
      
    }
    
    /* CUSTOMIZE THE NAV
    -------------------------------------------------- */
      #navMenu {  
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        padding: 0;
        margin: 0;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
        width: 60px;
        height: 60px;
        cursor: pointer;
        box-shadow: 0 0 20px #F00;
        background-color: #333;
        border-radius: 5px;
        
        /* FOR THE FOLDED PAGE LOOK
        width: 0;
        height: 0;
        border-top: 50px solid #333;
        border-right: 50px solid #DDD; */
        
      }
      
      #navMenu img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 5px solid #333;
        background-color: #DDD;
      }
      
      /* Puts the shadow under the folded edge */
      .foldtl {
        position: relative; 
        -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.8); 
        -moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.8); 
        box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
      }
      
    /* Move "menu" into position */
    #menu {
      width: 50px;
      height: 50px;
      position: fixed;
      left: 4px;
      top: 4px;
      z-index: 1000;
      line-height: 4em;
      text-align: center;
    }
     
    /* rotates the element */
    .rotate {
      -ms-transform:rotate(-45deg); /* IE 9 */
      -webkit-transform:rotate(-45deg); /* Safari and Chrome */
      transform:rotate(-45deg);
      cursor: pointer;
    }

      #navMenu:hover,
      #navMenu:active {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
      }
      
      #navContent {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        background: black; /* The Fallback */
        background: #333;
        z-index: 1000;
        color: white;
        padding: 15px;
        text-align: center;
        border-radius: 5px;
      }
      
      #navContent ul {
        margin-left: 20px;
      }
      
      #navContent a {
        color: #DDD;
      }
      
      #navContent a:hover {
        color: #333;
      }
      
      #hideNav {
        padding: 0;
        cursor: pointer;
        position: absolute;
        right: -25px;
        bottom: -25px;
        color: #DDD;
        opacity: 0.9;
        filter: alpha(opacity=90); /* For IE8 and earlier */
      }
      
      #hideNav:hover {
        opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
      }
      
      #hideNav img {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        border: 5px solid #333;
        background-color: #DDD;
      }
      
      .navbar-search {
        width: 100%;
      }
    
      .form-signin {
        color: #3366CC;
      }
      
    /* CUSTOMIZE MODALS
    -------------------------------------------------- */
    #registerModal .form-inline {
      margin-top: 30px;
      margin-bottom: -10px;
    }
    
    #registerModal .checkbox {
      margin: 0 11.5px;
    }
    
    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */
    
    /* Carousel base class */
    .carousel {
      margin-top: -19px;
      margin-bottom: 40px;
      box-shadow: 0 5px 5px #DDD;
    }

    .carousel .item {
      height: 500px;
    }
    
    .carousel-caption {
      position: absolute;
      left: 10%;
      bottom: -5px;
      padding: 2%;
      padding-top: 0;
      width: 400px;
      background-color: black; /* Fallback */
      background-color: rgba(0,0,0, 0.8);
      color: #DDD;
      text-align: left;
      border-radius: 5px;
      opacity: 0.7;
      filter: alpha(opacity=70); /* For IE8 and earlier */
    }
    
    .carousel-caption:hover {
      opacity: 1.0;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    /* PAGE CONTENT
    -------------------------------------------------- */
    
    .hello {
      color: #DDD;
      margin-top: 40px;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 60px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -100px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
      width: 300px; 
      height: 300px;
      border: 5px solid #ccc;
      border-radius: 5%;
    }
    
    .featurette .btn {
      margin: 5px;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
      margin-top: -40px;
      text-shadow:1px 1px 1px rgba(255, 255, 255, 0.7), -1px -1px 1px rgba(0, 0, 0, 0.7);
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
      
      .navbar-wrapper {
          margin-top: 0;
      }
      .container .navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: 0;
      }
      
      .content {
          margin-top: -19px;
      }
      
      

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      .featurette-heading {
          margin: 0;
      }
    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: 0;
      }

      #myCarousel {
          display: none;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }

    }